// Colours

$color-primary-green: #AEC1B9;
$color-primary-red: #CC715E;
$color-primary-yellow: #D8D4C0;
$color-primary-black: #2B2C32;
$color-primary-grey: #737474;

$color-white: #FFFFFF;
$color-black: #1D1D1D;
$color-grey: #E5E5E5;

$color-bg-grey: #FAFAFA;

// Font
$default-font-size: 1.6rem;

