// Colours

$color-primary-green: #AEC1B9;
$color-primary-red: #CC715E;
$color-primary-yellow: #D8D4C0;
$color-primary-black: #2B2C32;
$color-primary-grey: #737474;

$color-white: #FFFFFF;
$color-dark-black: #0E0E0E;

// Font
$default-font-size: 1.6rem;

