// Colours

$color-primary-green: #AEC1B9;
$color-primary-red: #CC715E;
$color-primary-yellow: #D8D4C0;
$color-primary-black: #2B2C32;
$color-primary-grey: #737474;

$color-blue: #354B5E;
$color-white: #FFFFFF;
$color-black: #1D1D1D;
$color-grey: #E5E5E5;

$color-bg-grey: #FAFAFA;

$color-btn-grey: #F5F5F5;
$color-hover-grey: #E6E6E6;

// Font
$default-font-size: 1.6rem;


// Margin
$margin-top-lrg: 10rem;
