.benefits {
  position: relative;
  background: $color-bg-grey;
  text-align: center;
  height: 90vh;
  overflow: hidden;

  @include respond(tab-land) {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 16rem 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    overflow: hidden;
  }
}

.benefits__intro {
  padding-top: 17rem;

  @include respond(tab-land) {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-bottom: 0;
  }
}

.benefits__btn {
  @include respond(tab-land) {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: start;
    margin-bottom: 0;
  }
}

.benefits__energise,
.benefits__pause,
.benefits__unwind {
  position: absolute;
  overflow: hidden;
}

.benefits__energise {
  width: 116px;
  height: 125px;
  top: 4rem;
  right: -2rem;

  @include respond(tab-land) {
    right: -4rem;
    width: 240px;
    height: 195px;
  }
}

.benefits__pause {
  width: 128px;
  height: 156px;
  top: 1rem;
  left: -2rem;

  @include respond(tab-land) {
    top: 27rem;
    left: -5rem;
    width: 259px;
    height: 256px;
  }
}

.benefits__unwind {
  width: 250px;
  height: 105px;
  top: 46rem;
  right: -2rem;

  @include respond(sm-mobile) {
    display: none;
  }

  @include respond(tab-land) {
    top: 46rem;
    right: -11rem;
    width: 603px;
    height: 157px;
  }
}
