.classes {
  text-align: center;
  margin-top: 8rem;
  clip-path: polygon(
      0 0,
      100% 0%,
      100% calc(100% - 10vw),
      0 100%
    );

  @include respond(tab-land) {
    clip-path: polygon(
      0 0,
      100% 0%,
      100% calc(100% - 4vw),
      0 100%
    );
  }
}

.bg-color {
  background-color: $color-bg-grey;
}

.classes__intro {
  padding-top: 5rem;

  @include respond(tab-land) {
    padding-top: 12rem;
  }
}

.classes__pricing--top,
.classes__pricing--btm {
  display: block;
  margin-bottom: 1.8rem;
  font-family: 'HKGrotesk-Regular', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  padding: 0 4.75rem;

  @include respond(tab-land) {
    font-size: 2rem;
  }
}

.classes__pricing--btm {
  margin-bottom: 5rem;
}

.pricing--yellowbg {
  background: $color-primary-yellow;
}

.pricing--greenbg {
  background: $color-primary-green;
}

.classes__month {
  font-family: 'HKGrotesk-Medium', sans-serif;
  font-size: 2.1rem;

  @include respond(tab-land) {
    padding-top: 2rem;
    color: $color-primary-black;
  }
}

.classes__month--mtl {
  margin-top: 10rem;
}

.classes__date {
  display: inline-block;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 6px 3.5rem;
  background: $color-primary-black;
  font-family: 'HKGrotesk-Medium', sans-serif;
  font-size: 1.8rem;
  color: $color-white;

  @include respond(tab-land) {
    margin-bottom: 6rem;
  }
}

.classes__date:nth-of-type(2n) {
  margin-top: 10rem;
}

.classes__showmore-state {
  display: none;
}

.classes__target {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height .35s ease-in-out;
}

.classes__showmore-state:checked ~ .classes__target {
  display: block;
  height: auto;
}

.classes__showmore-state:checked ~ .classes__showmore .down-arrow {
  transform: rotate(180deg);
  transform-origin: 65% center;
}

.classes__showmore-state ~ .classes__showmore:before {
  content: 'Show next two weeks';
}

.classes__showmore-state:checked ~ .classes__showmore:before {
  content: 'Show less';
}

.classes__showmore {
  cursor: pointer;
  display: inline-block;
  margin-top: 10rem;
  margin-bottom: 7rem;
  padding: 5px;
  font-family: 'HKGrotesk-Medium', sans-serif;
  font-size: 1.8rem;
}

.down-arrow {
  width: 2rem;
  height: auto;
  padding-left: 6px;
  transition: .3s ease-in-out;
}
