// borders
.vb--med,
.vb--long {
  position: absolute;
  border-left: 1px solid $color-grey;	
  left: calc(50% - 0.5px);
  margin-top: 9rem;
  z-index: 8;

  @include respond(tab-land) {
    bottom: -13rem;
  }
}

.vb--med {
  height: 19rem;

  @include respond(sm-mobile) {
    height: 15rem;
  }
}

.vb--long {
  height: 20rem;

  @include respond(tab-land) {
    display: none;
  }
}

.hb-btm {
  border-bottom: 1px solid $color-grey;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;

  @include respond(tab-land) {
    margin-left: 30%;
    margin-right: 30%;
  }
}

// margins 

.mbtm-lg {
  margin-bottom: 10rem;
}

// other 

.sup-sm {
  font-size: 1.4rem;
}
