// buttons
.btn {
  padding: 1.7rem 3.5rem;
  margin-bottom: 4rem;
  font-family: 'HKGrotesk-Medium', sans-serif;
  font-size: 1.3rem;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%); 

  @include respond(desktop) {
    font-size: 1.6rem;
  }
}

.btn--min {
  margin-bottom: 5rem;
  background: none;
  border: 1px solid $color-primary-green;
  clip-path: none;
}
.btn-green {
  background: $color-primary-green;
}


// borders

.border::after {
	content: '';
  position: absolute;
  left: calc(50% - 5.1rem);
  display: inline-block;
  margin-top: 1.9rem;
  z-index: -1;
  border-bottom: 11px solid $color-primary-yellow;
	width: 27%;
	transform: skew(-10deg) rotate(2deg);
  -webkit-transform: skew(-10deg) rotate(2deg);
  -moz-transform: skew(-10deg) rotate(2deg);

  @include respond(desktop) {
    width: 12.4%;
    margin-top: 3.1rem;
    left: calc(50% - 7.9rem);
  }
}

.nav--border {
  display: inline-block;
  position: relative;
}

.nav--border::after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0.1em;
  margin-top: 1.7rem;
  z-index: -1;
	border-bottom: 8px solid  $color-primary-yellow;
	width: 100%;
	transform: skew(-10deg) rotate(2deg);
  -webkit-transform: skew(-10deg) rotate(2deg);
  -moz-transform: skew(-10deg) rotate(2deg);
}

/*.vb--small {
  position: absolute;
  border-left: 1px solid $color-primary-black;
  height: 4rem;
  margin-left: 1rem;
}*/

.vb--med,
.vb--long {
  position: absolute;
  border-left: 1px solid $color-grey;	
  left: calc(50% - 0.5px);
  margin-top: 9rem;
  z-index: 10;

  @include respond(desktop) {
    bottom: -13rem;
  }
}

.vb--med {
  height: 19rem;
}

.vb--long {
  height: 35rem;

  @include respond(desktop) {
    height: 25rem;
  }
}

.hb-btm {
  border-bottom: 1px solid $color-grey;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 3rem;

  @include respond(desktop) {
    margin-left: 30%;
    margin-right: 30%;
  }
}

// margins 

.mbtm-lg {
  margin-bottom: 10rem;
}



// other 

.sup-sm {
  font-size: 1.4rem;
}
